/* Global styling */

:root {
  --gray: #afbfb7;
  --black: #172f27;
}

* {
  font-weight: 400;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

html {
  color: var(--black);
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

/* General elements */

body {
  background-color: white;
}

h1 {
  font-weight: 700;
  font-size: 24px;
  margin: 8px;
}

h2 {
  font-weight: 700;
  font-size: 20px;
  margin: 8px;
  margin-top: 2em;
}

h3 {
  font-weight: 700;
  font-size: 16px;
  margin: 8px;
  margin-top: 1em;
}

p {
  margin: 8px;
}

ol {
  margin: 8px;
  margin-left: 2em;
}

ul {
  margin: 8px;
  margin-left: 2em;
}

blockquote {
  margin: 8px;
  border-left: 4px solid var(--gray);
}

pre {
  margin: 8px;
  padding: 0.5em;
  font-size: 14px;
  line-height: 1.2em;
}

code {
  background-color: var(--black);
  color: white;
  font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
  padding: 0 2px;
}

img {
  margin: 8px;
}

b {
  font-weight: 700;
}

a {
  color: var(--black);
}

a:hover {
  color: var(--gray);
}

a.inverted {
  color: white;
}

/* Common classes */

.content {
  margin: 40px 25%;
  font-size: 16px;
}

.center-contents {
  text-align: center;
}

.nav {
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid var(--gray);
}

.nav > * {
  margin: 20px;
}

@media only screen and (max-width: 1024px) {
  .content {
    margin: 40px 10%;
  }
}

@media only screen and (max-width: 640px) {
  .content {
    margin: 40px 16px;
  }

  .nav > * {
    margin: 16px;
  }
}