div.markdown {
	margin: 40px 25%;
	width: 50%;
}

div.markdown > h1 {
	text-align: center;
	font-weight: 700;
	font-size: 48px;
	margin-bottom: 16px;
}

div.markdown > h2 {
	font-weight: 700;
	font-size: 24px;
	margin-top: 16px;
	margin-bottom: 8px;
}

div.markdown > h3 {
	font-weight: 700;
	font-size: 20px;
	margin-top: 16px;
	margin-bottom: 8px;
}

div.markdown > p {
	font-weight: 400;
	font-size: 16px;
	margin-bottom: 8px;
}

div.markdown > p.code-c {
	background-color: var(--gray);
	padding: 8px;
	white-space: pre-wrap;
	font-family: 'Source Code Pro', monospace;
}

span.code-normal {
	font-family: 'Source Code Pro', monospace;
}

span.code-bolded {
	font-weight: bold;
	font-family: 'Source Code Pro', monospace;
}

span.code-italics {
	font-style: italic;
	font-family: 'Source Code Pro', monospace;
}