#title {
  position: relative;
  padding: 60px 0px;
  background-color: var(--gray);
  color: white;
}

#title > h1 {
  font-size: 48px;
  line-height: 1em;
  margin-bottom: 0.5em;
}

#title > p {
  font-size: 20px;
}

canvas#tree {
  position: absolute;
  background-color: var(--gray);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

div.nav {
  text-align: center;
}

@media only screen and (max-width: 640px) {
  #title > h1 {
    font-size: 36px;
    line-height: 1em;
    margin-bottom: 0.5em;
  }

  #title > p {
    font-size: 16px;
  }
}